/* body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
} */

.joystick {
    width: 20vmax;
    height: 20vmax;
    position: absolute;
    bottom: 1vmax;
    left: 1vmax;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    z-index: 100;
}

.joystick-outline {
    width: 100%;
    height: 100%;
    z-index: 100;
}

.joystick-handle-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
}

.joystick-handle {
    position: absolute;
    width: 8vmax;
    height: 8vmax;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.6);
    top: 50%;
    left: 50%;
    margin-left: -4vmax;
    margin-top: -4vmax;
    z-index: 100;
}